<p id="notice"><%= notice %></p>

<h2>Categories</h2>

<table>
  <thead>

  </thead>

  <tbody>

    <% @categories.each_slice(5) do |five_category| %>
    <div class="card-deck">
      <% five_category.each do |category| %>
      <div class="card">
        <div class="card-body">
        <h5><%= category.name %></h5>
        <h5><%= link_to 'Show', category %></h5>
        <h5><%= link_to 'Edit', edit_category_path(category) %></h5>
        <h5><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></h5>
      </div>
      </div>
      <% end %>
      </div>
    <% end %>
  </tbody>
</table>




<br>

<%= link_to 'New Category', new_category_path %>
