<p id="notice"><%= notice %></p>
<form class="form-inline mt-2 mt-md-0">
<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

<% if @category.image.attached? %>
<p>
  <strong>Image:</strong>
  <br>
  <%= image_tag @category.image %>
</p>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<% @products.each_slice(3) do |three_product| %>
<div class="card-deck">
  <% three_product.each do |product| %>
  <div class="card">
    <div class="card-body">
      <p><%= image_tag product.image.variant(resize: "300x300") if product.image.attached? %></p>
      <h5 class="card-title"><%= product.name %></h5>
      <p class="card-text">Marca: <%= product.brand %></p>
      <p class="card-text">Formato: <%= product.format %></p>
      <p class="card-text">Precio: <%= product.price %></p>

      <%= form_with do |form| %>

      <div class="field">
        <%= form.label :cantidad %>
        <%= form.text_field :quantity %>
      </div>
      <% end %>
      <%= link_to 'Agregar al carro', product_orders_path(product), class: 'btn btn-success float-right', method: :post %>
      <%= link_to "ver mas", product_path(product), class: 'btn btn-success'  %>

    </div>
  </div>
  <% end %>

</div>
<br>
<br>
<% end %>





<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
